@import "../../styles/settings.scss";
.categories {
  display: flex;
  flex-direction: column;

  &__header-row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    margin-bottom: 30px;
  }
  &__table {
    max-width: 500px;
  }
}

.icon-button {
  text-decoration: none;
  svg {
    width: 18px;
  }
}
