.categories {
  .link-button {
    margin-bottom: 20px;
  }

  &__header {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 40px;
  }
  &__table {
    max-width: 500px;
  }
}

.icon-button {
  text-decoration: none;
  svg {
    width: 18px;
  }
}
