.kanban {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  overflow: auto;

  &__board {
    &__column-title {
      border: 2px solid black;
      border-radius: 25px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 6px;
      padding: 10px;
      margin-bottom: 10px;
      p {
        font-weight: 500;
      }
    }
    &__column {
      min-width: 250px;
      min-height: 500px;
    }
  }
}