.simple-tile {
  display: grid;
  border: 2px solid #E1E1E1;
  border-radius: 25px;
  padding: 10px 18px;
  gap: 10px;

  &__value {
    justify-self: flex-end;
    font-size: 24px;
    line-height: 28px;
    font-weight: 500;
  }
}

.my-journey {
  display: grid;
  gap: 40px;

  &__content {
    display: grid;
    gap: 20px;

    &__row {
      align-items: stretch;
      display: flex;
      gap: 20px;
      flex-wrap: wrap;
    }
  }
}

.pie-chart-tile {
  @extend .simple-tile;
  height: 250px;
}

.tasks-by-status,
.tasks-by-category {
  width: 400px;
}

.tasks-by-impact {
  width: 500px;
}

.bar-chart-tile {
  @extend .simple-tile;
  height: 200px;
}

.calendar-tile {
  height: 250px;
  width: 100%;
  max-width: 700px;
}

.most-busy-times {
  height: 400px;
  width: 100%;
}

.line-chart-tile {
  @extend .simple-tile;
  height: 300px;
  width: 100%;
  max-width: 700px;
}

.level-tile {
  width: 400px;
}

.badges-tile {
  &__badges {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    &__badge {
      display: grid;
      justify-items: center;
      gap: 8px;
      max-width: 160px;
      align-items: start;
      grid-template-rows: min-content min-content 1fr;
    }
  }

}