@import "../../styles/settings.scss";

.profile {
  $grid-gap: 14px;

  &__form {
    padding: 1rem;
    display: grid;
    gap: 25px;
    .input {
      max-width: $input-max-width;
    }
    &__header {
      display: flex;
      align-items: center;
      gap: 30px;
    }
    &__account-info {
      display: grid;
      gap: $grid-gap;
      &__submit-change {
        width: fit-content;
      }
    }
    &__customization {
      display: grid;
      gap: $grid-gap;
    }
    &__danger-zone {
      display: grid;
      gap: $grid-gap;
      &__submit-delete {
        width: fit-content;
      }
    }
  }
}
