.profile-layout {
  // $pippo: 10px;
  // utilizzo: margin-left: $pippo;
  // $pluto: #000000;
  // utilizzo: color: $pluto;
  max-width: 400px;

  &__form {
    padding: 2rem;
    display: grid;
    gap: 14px; // vedo che questo gap è ripetuto, se vuoi puoi creare una variabile come vedi a riga 2 (decommentala)
    &__header {
      display: flex;
      justify-content: flex-start; // non serve, è il default
      align-items: center;
      margin-bottom: 10px; // non è un po' superfluo questo? si potrebbe usare il gap della griglia (attualmente a 14px)
      h1 {
        text-align: left; // non serve, è il default
      }
      &__submit {
        margin-left: 30px;
      }
    }

    h2 {
      font-size: 2rem; // non cambiare i font size qua, se devi cambiare la dimensione di un h2 devi farlo dentro src/styles/base.scss ma ti sconsiglio di farlo. piuttosto usa un altro tag più piccolo tipo h4
    }
    &__account-info {
      display: grid;
      gap: 14px;
      margin-bottom: 10px; // non è un po' superfluo questo? si potrebbe usare il gap della griglia (attualmente a 14px)
      &__submit-change {
        // vedi l'index.jsx per il colore del bordo
        background-color: white;
        color: black;
        border: 2px solid black;
        width: 50%;
      }
    }
    &__customization {
      display: grid;
      gap: 14px;
      margin-bottom: 10px; // non è un po' superfluo questo? si potrebbe usare il gap della griglia (attualmente a 14px)
    }
    &__danger-zone {
      display: grid;
      gap: 14px;
      margin-bottom: 10px; // non è un po' superfluo questo? si potrebbe usare il gap della griglia (attualmente a 14px)
      &__submit-delete {
        // vedi l'index.jsx per il colore ed il bordo
        background-color: white;
        color: red;
        border: 2px solid red;
        width: 40%;
      }
    }
  }
}
