.navbar {
  align-items: center;
  background: white;
  display: grid;
  grid-template-columns: var(--logo-width) 1fr var(--logo-width);
  left: 0;
  padding: 10px 20px;
  position: sticky;
  top: 0;
  z-index: 11;

  &__links {
    border: 2px solid var(--everytask-primary);
    border-radius: 25px;
    padding: 8px 30px;
    align-items: center;
    display: flex;
    gap: 18px;
    width: fit-content;
    margin: 0 auto;

    &__link {
      color: #6a6a6a;
      text-decoration: none;

      &--active {
        color: var(--everytask-primary);
        font-weight: 500;

        &::before {
          content: "• ";
        }
      }
    }
  }

  &__user {
    justify-self: flex-end;
  }
}
